In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1555,tt0444182,14500000,22963701,IndigÃ¨nes,Jamel Debbouze|Samy Naceri|Roschdy Zem|Sami Bo...,Rachid Bouchareb,The true story of World War II's forgotten her...,"During WWII, four North African men enlist in ...",128,Drama|History|War,Tessalit Productions,5/25/2006,6.7,2006
391,tt0800320,125000000,232713139,Clash of the Titans,Sam Worthington|Liam Neeson|Ralph Fiennes|Gemm...,Louis Leterrier,Titans will clash.,"Born of a god but raised as a man, Perseus is ...",106,Adventure|Fantasy|Action,The Zanuck Company|Legendary Pictures|Thunder ...,4/1/2010,5.6,2010
1062,tt1441951,11000000,59520298,Quartet,Maggie Smith|Tom Courtenay|Billy Connolly|Paul...,Dustin Hoffman,Four Friends Looking For A Little Harmony,"The directorial debut of Dustin Hoffman, Quart...",98,Drama|Comedy|Romance,Headline Pictures,9/8/2012,6.2,2012
1137,tt0264395,50000000,42792561,Basic,John Travolta|Connie Nielsen|Samuel L. Jackson...,John McTiernan,Deception is their most deadly weapon.,A DEA agent investigates the disappearance of ...,98,Action|Drama|Mystery|Thriller|Crime,Intermedia Films|Krane Entertainment,4/18/2003,6.0,2003
264,tt0327597,60000000,124596398,Coraline,Dakota Fanning|Teri Hatcher|Jennifer Saunders|...,Henry Selick,Be careful what you wish for.,"When Coraline moves to an old house, she feels...",100,Animation|Family,Focus Features|Laika Entertainment,2/5/2009,7.1,2009

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
#11вопрос
#1вариант
def genre_count(x):
    for i in x.split('|'):
        if i not in genres:
            genres[i] = 1
        else:
            genres[i]+=1
            
#2вариант
def genres_Counter(x):
    for i in x.split('|'):
        c[i] += 1
        
#6вопрос
data['profit'] = data['revenue']-data['budget']
#12вопрос
def genres_profit(x):
    for i in x['genres'].split('|'):
        c[i] +=1
        
#16вопрос
def casts(x):
    for i in x.split('|'):
        c[i]+=1
        
#21вопрос
def month_count(x):
    c[x.split('/')[0]] +=1

#23вопрос
def winter(x):
    if x.split('/')[0] in ['2','12','1']:
        return True
    
#24вопрос
def lens_title(x):
    for i in x.production_companies.split('|'):
        if i not in c:
            c[i] = [x.len_title]
        else:
            c[i].append(x.len_title)
            
#25вопрос
def len_overview(x):
    for i in x.production_companies.split('|'):
        if i not in c:
            c[i] = [len(x.overview)]
        else:
            c[i].append(len(x.overview))
            
#27вопрос
def cast_pairs(x):
    casts_pairs = list(itertools.combinations(x.cast.split('|'), 2))
    for i in casts_pairs:
        c[i]+=1
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет? +

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = 'Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]['original_title'][723]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
data.query('budget == budget.max()')['original_title'].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?+

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [10]:
data[data['runtime'] == data['runtime'].max()]['original_title'].iloc[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?+

In [11]:
answers['3'] = 'Winnie the Pooh'
data[data['runtime'] == data['runtime'].min()]['original_title'].iloc[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?+

In [12]:
answers['4'] = 110
round(data.runtime.mean(),0)

110.0

# 5. Каково медианное значение длительности фильмов? +

In [13]:
answers['5'] = 107
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?+
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar'
data[data.profit==data.profit.max()]['original_title'][239]

'Avatar'

# 7. Какой фильм самый убыточный? +

In [15]:
answers['7'] = 'The Lone Ranger'
data[data.profit == data.profit.min()]['original_title'][1245]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?+

In [16]:
answers['8'] = 1478
data[data.revenue > data.budget]['imdb_id'].nunique()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?+

In [17]:
answers['9'] = 'The Dark Knight'
data_2008 = data[data['release_year']==2008]
data_2008[data_2008['revenue'] == data_2008['revenue'].max()]['original_title'][599]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?+

In [18]:
answers['10'] = 'The Lone Ranger'
data_for_period = data[(data['release_year']<=2014) & (data['release_year']>=2012)]
data_for_period[data_for_period.profit == data_for_period.profit.min()]['original_title'][1245]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?+

In [19]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'
genres={}
list(map(genre_count,data.genres))
for i,g in genres.items():
    if g == max(genres.values()):
        print(i)

Drama

ВАРИАНТ 2

In [20]:
c = Counter()
data['genres'].apply(genres_Counter)
c

Counter({'Action': 582,
         'Adventure': 415,
         'Science Fiction': 248,
         'Thriller': 596,
         'Fantasy': 222,
         'Crime': 315,
         'Western': 19,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

# 12. Фильмы какого жанра чаще всего становятся прибыльными? +

In [21]:
answers['12']='Drama'
c = Counter()   
data[data['profit'] > 0].apply(genres_profit,axis=1)
for i,g in c.items():
    if g==max(list(c.values())):
        print(i)

Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?+

In [22]:
answers['13'] = 'Peter Jackson'
director_group = data.groupby(by='director').sum()['revenue']
director_group.sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?+

In [23]:
#data.genres.str.split('|',expand = True,n=1)
answers['14'] = 'Robert Rodriguez'
action_dir = data[data['genres'] == 'Action']
action_top = action_dir.groupby(by = 'director')['genres'].sum().sort_values(ascending=False)
action_top

director
Rob Cohen                ActionAction
Sydney Pollack                 Action
Robert Rodriguez               Action
Rob Bowman                     Action
Ridley Scott                   Action
Renny Harlin                   Action
Paul McGuigan                  Action
Marcus Nispel                  Action
Kevin Macdonald                Action
Joseph Kahn                    Action
John Moore                     Action
Harald Zwart                   Action
Christopher McQuarrie          Action
Andy Tennant                   Action
Andrew Davis                   Action
Name: genres, dtype: object

In [24]:
data['genres'].str.split('|', n = 1, expand = True)
action_dir = data[data['genres'] == 'Action']
action_top = action_dir.groupby(['director'])['genres'].sum().sort_values(ascending=False)
action_top.index[0]

'Rob Cohen'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году? +

In [25]:
answers['15'] = 'Chris Hemsworth'
data_2012 = data[data.release_year==2012]
data_2012.groupby(by= 'revenue').max().sort_values(by='revenue',ascending=False)['cast'].str.split('|',expand=True)

,0,1,2,3,4
revenue,,,,,
1519557910,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth,Scarlett Johansson
1108561013,Daniel Craig,Judi Dench,Javier Bardem,Ralph Fiennes,Naomie Harris
1081041287,Christian Bale,Michael Caine,Gary Oldman,Anne Hathaway,Tom Hardy
1017003568,Ian McKellen,Martin Freeman,Richard Armitage,Andy Serkis,Cate Blanchett
877244782,John Leguizamo,Ray Romano,Chris Wedge,Denis Leary,Seann William Scott
...,...,...,...,...,...
8106475,Kirsten Dunst,Jim Sturgess,Timothy Spall,James Kidnie,Heidi Hawkins
6063556,Robert Pattinson,Sarah Gadon,Juliette Binoche,Paul Giamatti,Samantha Morton
4636169,Bruce Willis,Josh Duhamel,Rosario Dawson,Vincent D'Onofrio,50 Cent
3428048,Jason Bateman,Hope Davis,Frank Grillo,Paula Patton,Michael Nyqvist
2106557,Nicolas Cage,Malin Ã…kerman,Josh Lucas,Sami Gayle,Danny Huston

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?+

In [26]:
answers['16'] = 'Matt Damon'
c = Counter()
data[data['budget'] > data['budget'].mean()]['cast'].apply(casts)
for i,g in c.items():
    if g == max(list(c.values())):
        print(i)

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage? +

In [27]:
answers['17'] = 'Action'
c = Counter()
data[data['cast'].str.contains('Nicolas Cage')]['genres'].apply(casts)
c

Counter({'Thriller': 15,
         'Action': 17,
         'Science Fiction': 4,
         'Adventure': 7,
         'Drama': 12,
         'Mystery': 3,
         'Crime': 10,
         'Animation': 3,
         'Family': 3,
         'Fantasy': 8,
         'Comedy': 6,
         'History': 2,
         'War': 1,
         'Horror': 1,
         'Romance': 1})

# 18. Самый убыточный фильм от Paramount Pictures+

In [28]:
answers['18'] = 'K-19: The Widowmaker'
data[data['production_companies'].str.contains('Paramount Pictures')].sort_values(by='profit').iloc[0]

imdb_id                                                         tt0267626
budget                                                          100000000
revenue                                                          35168966
original_title                                       K-19: The Widowmaker
cast                    Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...
director                                                  Kathryn Bigelow
tagline                                          Fate has found its hero.
overview                When Russia's first nuclear submarine malfunct...
runtime                                                               138
genres                                             Thriller|Drama|History
production_companies    Paramount Pictures|Intermedia Films|National G...
release_date                                                    7/19/2002
vote_average                                                            6
release_year                                                         2002
profit                                                          -64831034
Name: 925, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?+

In [29]:
answers['19'] = 2015
data.pivot_table(index='release_year',values='revenue',aggfunc='sum').sort_values(by='revenue',ascending=False)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

# 20. Какой самый прибыльный год для студии Warner Bros?+

In [30]:
answers['20'] = '2014'
data_War_Bros = data[data['production_companies'].str.contains('Warner Bros')]
data_War_Bros.pivot_table(index='release_year',values='profit',aggfunc='sum').sort_values(by='profit', ascending=False)

                  profit
release_year
2014          2295464519
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682
2003          1855493377
2009          1822454136
2013          1636453400
2004          1631933725
2005          1551980298
2001          1343545668
2012          1258020056
2002          1022709901
2015           870368348
2006           620170743
2000           452631386

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?+

In [31]:
answers['21']='сентябрь'
c = Counter()   
data['release_date'].apply(month_count)
c

Counter({'6': 147,
         '5': 140,
         '3': 156,
         '12': 190,
         '4': 149,
         '9': 227,
         '10': 186,
         '2': 135,
         '1': 110,
         '7': 142,
         '11': 146,
         '8': 161})

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)+

In [32]:
answers['22'] = 450
summa_films = 0
for keys,values in c.items():
    if keys == '6' or keys == '7' or keys == '8':
        summa_films += values
summa_films

450

In [33]:
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360

# 23. Для какого режиссера зима – самое продуктивное время года?+

In [34]:
answers['23'] = 'Peter Jackson'
c = Counter()
winter_data = data[data.release_date.apply(winter)==True]
winter_data.groupby('director').count()['original_title'].sort_values()

director
Aaron Seltzer|Jason Friedberg          1
Matthew Vaughn                         1
Matthew O'Callaghan                    1
Matt Reeves                            1
Matt Bettinelli-Olpin|Tyler Gillett    1
                                      ..
Adam Shankman                          4
Nancy Meyers                           4
Clint Eastwood                         6
Steven Soderbergh                      6
Peter Jackson                          7
Name: original_title, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [35]:
answers['24'] = 'Four By Two Productions'
c = Counter()
data['len_title'] = data.original_title.apply(lambda x: len(x))
data.apply(lens_title, axis=1)
for keys,values in c.items():
    summa = 0
    count = 0
    for values in c[keys]:
        summa += values
        count += 1
    c[keys] = round(summa/count,2)
for i,g in c.items():
    if g == max(list(c.values())):
        print(i)

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [36]:
answers['25'] = 'Midnight Picture Show'
c = Counter()

data.apply(len_overview, axis=1)
for keys,values in c.items():
    c[keys] = sum(c[keys])/len(c[keys])
for keys,values in c.items():
    if values == max(list(c.values())):
        print(keys)

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [37]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
data.sort_values(by='vote_average',ascending=False)[['original_title','vote_average']].head(20)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8
1688                            There Will Be Blood           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [38]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
c=Counter()
def cast_pairs(x):
    casts_pairs = list(itertools.combinations(x.cast.split('|'), 2))
    for i in casts_pairs:
        c[i]+=1
data.apply(cast_pairs,axis=1)
for keys,values in c.items():
    if values == max(list(c.values())):
        print(keys)

('Daniel Radcliffe', 'Rupert Grint')
('Daniel Radcliffe', 'Emma Watson')

ВАРИАНТ 2

# Submission

In [39]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': '2014',
 '21': 'сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [40]:
# и убедиться что ни чего не пропустил)
len(answers)

27